*,
*::before,
*::after {
    box-sizing: border-box;
}

.flex {
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    max-width: 1200px;
    padding: 0 px;
    margin: 0 auto;
}