:root {
    --color__white: #ffffff;
    --color__blue: #0674ec;

    --color-text: #555555;
    --color-text__tytle: #000000;

    --color-page__grey: #eef1f3;
    --color-page__dark-grey: #eff1f5;
}