.button {
    background-color: var(--color__blue);
    border-width: 0;
    color: var(--color__white);
    font-family: 'Quiksand-Regular', sans-serif;
    text-align: center;
    align-items: center;
    display: block;
}